# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

# C# files
[*.cs]
indent_size = 4
indent_style = space
end_of_line = crlf
insert_final_newline = true

# XML files
[*.xml]
indent_style = space
indent_size = 2
end_of_line = crlf
insert_final_newline = true
